# spark.env.example - exemplo de variáveis para configurar Spark localmente
SPARK_HOME=/opt/spark
SPARK_MINIO_ENDPOINT=http://minio.gti.local:9000
SPARK_MINIO_USER=spark_user
SPARK_MINIO_PASS=SparkPass123!
HIVE_METASTORE_URI=thrift://db-hive.gti.local:9083
HADOOP_HOME=/opt/hadoop
JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64
